@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    }

body{
    font-family: 'Roboto Slab', sans-serif;
}

.first-section {
    background-color: #1f2937;
}

#header-logo{
 font-size: 24px;
 color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #E5E7Eb;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAf8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 150px 0px 0px 0px;
}

.content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;

}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 200px;
}

.content-left,.content-right{
    margin-bottom: 150px;
}

img{
    /* margin-bottom: 50px; */
}


.p-first{
    font-size: 18px;
    color:#E5E7EB;
    margin: 0%;
}

.sign-up-first-section{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px #3882F6;
    border-radius: 10px;

}

h2{
    font-style: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 0px 0px 60px 0px;
}

.row-of-blue-divs{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center; */
    display: flex;
    gap: 50px;
    justify-content: center;
}

.box-blue{
    border: 3px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 9px;
    margin: auto;
}

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px 40px 0px;

}

.p-second{
    text-align: center;
    font-size: 18px;
}

.box-blue-msg{
    /* width: 200px; */
}